<!-- Layout Component -->
<app-layout></app-layout>

<!-- Theme Switcher on Right -->
<div class="theme-selector">
  <div class="theme-circle theme-bright" (click)="changeTheme('bright')"></div>
  <div class="theme-circle theme-colorful" (click)="changeTheme('colorful')"></div>
  <div class="theme-circle theme-dark" (click)="changeTheme('dark')"></div>
  <div class="theme-circle theme-minimalist" (click)="changeTheme('minimalist')"></div>
</div>

<!-- Routing Outlet -->
<!-- <router-outlet></router-outlet> -->
